/* CMU Colors */
// Core Pallette
$carnegie-red: #A6192E;
$black: #2D2926;
$iron-gray: #63666A;
$steel-gray: #BBBCBC;

// Tartan Pallete
$scots-rose: #EF3340;
$gold-thread: #F2A900;
$green-thread: #00843D;
$teal-thread: #007D8A;
$blue-thread: #002D72;
$highlands-sky-blue: #0082BA;

// Campus Palette
$machinery-hall-tan: #B7B09C;
$kittanning-brick-beige: #D1CCBD;
$hornbostel-teal: #0D5257;
$palladian-green: #789F90;
$weaver-blue: #002B49;
$skibo-red: #8A2B2B;
/* CMU Colors End */

/* Customizations */
$body-text-color: $iron-gray;
$body-heading-color: $green-thread;
$link-color: $green-thread;
$btn-primary-color: $green-thread;
$nav-child-link-color: $green-thread;
$nav-width: $nav-width-md;

